.datepicker-wrapper {
    margin-right: 16px;
    position: relative;
    margin-top: 4px;

    .cal-div {
        position: relative;
        width: 0px;
        height: 0px;
        top: 17px;
        left: 13px;

        .cal-img {
            position: absolute;
            z-index: 0;
            top: 22px;
            left: 15px;
            width: 15px;
            color: #41b6ac;
        }
    }

    @media only screen and (max-width: 768px) {
        .cal-div {
            .cal-img {
                width: 10px !important;
            }
        }
    }

    .cal-icon {
        position: absolute;
        z-index: 9;
        bottom: 30px;
        right: 10px;
        font-size: 18px;
    }

    // @media only screen and (max-width: 768px) {
    //   .cal-div {
    //     .cal-img {
    //       width: 10px !important;
    //     }
    //   }
    // }
}

.react-datepicker {
    display: flex !important;
    border-radius: 6px;
    border: 1px solid #b8c1cb;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.08), 8px 8px 18px 0 rgba(0, 0, 0, 0.08);

    &.left-align {
        margin-left: -150px !important;

        .react-datepicker__triangle {
            margin-left: 150px !important;

            &:before {
                border-bottom-color: #fff !important;
            }
        }
    }

    .react-datepicker__time-container {
        // border-right: 1px solid #b8c1cb;
        border-left: 1px solid #b8c1cb;

        .react-datepicker__header {
            border-bottom: 1px solid #e2e2e2;
            padding: 10px;
            background-color: white;
            padding-top: 0px;
            // background-color: #1f2d3d;
        }

        .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
            width: 90px;
            height: 312px !important;
        }

        .react-datepicker__time {
            border-radius: 6px;

            .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
                height: 30px;
                padding: 5px 5px;
                display: flex;
                align-items: center;
                // color: #1f2d3d;
                // width: 60px;
                justify-content: center;
            }
        }

        .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
            background-color: #41b6ac;
            color: white;
            font-weight: bold;
        }
    }

    .react-datepicker__month-container {
        .react-datepicker__day-names {
            // background: #f0fffe;

            .react-datepicker__day-name {
                color: #1f2d3d;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .react-datepicker__header {
            // padding: 10px;
            /* background-color: #1f2d3d; */
            // border-radius: 0px;
            // border-bottom: 1px solid #e2e2e2;
            background-color: white;
            border: none;

            .month-toggler {
                font-size: 20px;
                font-weight: 500;
                font-size: 20px;
                display: inline-block;

                &.disabled {
                    opacity: 0.4;
                }

                &.enabled {
                    cursor: pointer;
                }
            }

            .react-datepicker__current-month {
                margin-top: 0;
                /* color: #fff !important; */
                font-weight: bold;
                font-size: 0.944rem;
                // padding: 6px 0px;
                padding-bottom: 12px;
                border-bottom: 1px solid #e2e2e2;
            }

            .react-datepicker__day-names {
                .react-datepicker__day-name {
                    // color: #fff;
                    // font-weight: bold;
                }
            }

            .react-datepicker__header__dropdown {
                padding: 5% 0;

                .react-datepicker__month-read-view--selected-month {
                    color: #fff;
                }
            }
        }
    }
}

.react-datepicker__day--keyboard-selected {
    background-color: #41b6ac;
    color: #fff;
}

.react-datepicker__header__dropdown {
    padding: 0px !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
    color: #1f2d3d;
    font-size: 16px;
    padding: 5px;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
    // background-color: #1f2d3d;
    color: #fff;
    background-color: #41b6ac;
    // color: #fff;

    // border-radius: 50%;
}

.react-datepicker__day--disabled {
    pointer-events: none;
    color: #b8c1cb !important;
}

.react-datepicker-time__header {
    // color: #fff;
}

.react-datepicker__header--time {
    display: none;
    // padding: 31px 0px;
}

.react-datepicker__day--selected {
    background-color: #41b6ac;
    color: #fff;
    // border-radius: 50%;
}

.react-datepicker-wrapper {
    min-width: 210px;

    .react-datepicker__input-container {
        input {
            font-size: 14px !important;
            padding: 3px 15px !important;
            text-align: left !important;
            border: 1px solid #b8c1cb;
            border-radius: 8px;
            background: transparent;
            min-width: 160px;
            height: 46px;
            padding-left: 40px !important;
            box-shadow: none;
            width: 100%;
            cursor: pointer;

            &:hover {
                box-shadow: 0 2px 8px -2px rgba(31, 45, 61, 0.4);
            }
        }
    }

    // .datepicker-mobile {
    .datepicker {
        &.default {
            background-color: white;

            .datepicker-content {
                padding: 0px;
                font-size: 10px !important;

                .datepicker-col-1 {
                    margin: 0px;

                    &:nth-child(n) {
                        flex: 1
                    }

                    &:nth-child(1) {
                        flex: 2
                    }

                    &:nth-child(2) {
                        flex: 2
                    }

                    .datepicker-scroll li {
                        // color: rgb(191, 191, 191);

                        &:nth-child(4) {
                            // height: 20px;
                        }

                        &:nth-child(5) {
                            // height: 30px;
                        }

                        &:nth-child(6) {
                            //                            color: white;
                        }
                    }
                }
            }

            .datepicker-navbar {
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 16px;
                display: grid;
                grid-template-rows: 64px;
                // grid-template-columns: 2fr 1fr;
                grid-column-gap: 16px;
                padding: 0px;
                align-items: center;
                display: none;

                .datepicker-navbar-btn {
                    // color: white;
                    padding: 12px;
                    background: #3c415e;
                    box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.3);
                    text-align: center;

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

    }
}

// @media only screen and (max-width: 768px) {
//   .react-datepicker__input-container {
//     input {
//       font-size: 10px !important;
//     }
//   }
// }
// }

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    // border-bottom-color: #fff;
}

.react-datepicker-popper {
    z-index: 600;
}

// .time-selector {
//     z-index: 1;

//     .datepicker {
//         position: relative;
//         grid-template-rows: 100% 37%;

.datepicker-wheel {
    background-color: #3C415E;
    border-bottom: none !important;
    border-top: none !important;
}

.datepicker.default .datepicker-scroll li {
    font-size: 90%;
    color: #bfbfbf;
}

.datepicker.default .datepicker-content .datepicker-col-1{
    margin: 0;
}

.datepicker.default .datepicker-content .datepicker-col-1 .datepicker-scroll li:nth-child(6) {
    color: #fff;
}

//     }// }