.datepicker-mobile {
    .datepicker {
        &.default {
            background-color: white;

            .datepicker-content {
                padding: 0px;
                font-size: 10px !important;

                .datepicker-col-1 {
                    margin: 0px;

                    &:nth-child(n) {
                        flex: 1
                    }

                    &:nth-child(1) {
                        flex: 2
                    }

                    &:nth-child(2) {
                        flex: 2
                    }

                    .datepicker-scroll li {
                        // color: rgb(191, 191, 191);

                        &:nth-child(4) {
                            // height: 20px;
                        }

                        &:nth-child(5) {
                            // height: 30px;
                        }

                        &:nth-child(6) {
//                            color: white;
                        }
                    }
                }
            }

            .datepicker-navbar {
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 16px;
                display: grid;
                grid-template-rows: 64px;
                // grid-template-columns: 2fr 1fr;
                grid-column-gap: 16px;
                padding: 0px;
                align-items: center;
                display: none;

                .datepicker-navbar-btn {
                    // color: white;
                    padding: 12px;
                    background: #3c415e;
                    box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.3);
                    text-align: center;

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

    }
}